.illustrations{
    background-color: blue;
    background-image: url("https://www.freepik.com/free-vector/customer-support-flat-illustration_13107135.htm#query=illustrations&position=5&from_view=keyword");
    width: 30%;
    height: auto;
  }