<nav class="mb-10">
  <button class="btn btn-primary mr-3" routerLinkActive="active" routerLink="/employees-list">View Employees</button>
  <button class="btn btn-info mr-3" routerLinkActive="active" routerLink="/create-employee">Add Employee</button>
  <button class="btn btn-success mr-3" routerLinkActive="active" routerLink="/department-create">Add Department</button>
  <button class="btn btn-warning mr-3" routerLinkActive="active" routerLink="/department-list">View Department</button>
</nav>
<div style="height=50px"><p style="color:white">
CRUD APP
</p></div>
<router-outlet></router-outlet>
